nav {
  height: 15vh;
  width: 100%;
  background-image: radial-gradient(to right, #caf13a, #eef3e8);
  color: rgb(13, 69, 4);
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 40px;
}

.navitems button {
  width: 15%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #eaee0a;
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
}

.fetchbtn:hover {
  background-color: rgb(231, 154, 245);
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-color: #fdffff;
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.name:hover {
  color: rgb(10, 10, 10);
}

.avatar {
  border-radius: 30%;
}

.profile_cont {
  border-radius: 10%;
  background-color: #dd9de6;
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 1.0;
  margin-top: 5vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}